In [130]:
import requests
import json
import pandas as pd
import plotly as plt
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import urllib
import datetime


%matplotlib inline

In [ ]:
anbne4hpic0ev3c2ymdyscbk5emkoni00qurxhpyrcvbuh2bu1j1yugbqbl17avu

In [99]:
response = requests.get("http://metals-api.com/api/2020-01-07?access_key=anbne4hpic0ev3c2ymdyscbk5emkoni00qurxhpyrcvbuh2bu1j1yugbqbl17avu&base=USD&symbols=XAU")

In [100]:
print(response.status_code)

200

In [4]:
response

In [101]:
print(response.json())

{'success': True, 'historical': True, 'date': '2020-01-07', 'base': 'USD', 'rates': {'XAU': 1577.2747554657878}, 'unit': 'per ounce'}

In [6]:
# STORING METALS API JSON RESULT IN RES VARIABLE

metalsApiRes = response.json()

In [7]:
# STORING RATES DATA INTO RATES VARIABLE

metalsApiRates = metalsApiRes["rates"]

In [8]:
print(metalsApiRes)

{'success': True, 'timestamp': 1578448320, 'date': '2020-01-08', 'base': 'USD', 'rates': {'AED': 3.674209400417414, 'AFN': 77.51792608274512, 'ALL': 109.67996707435876, 'AMD': 478.94900933460895, 'ANG': 1.6857266539415903, 'AOA': 483.8212825480905, 'ARS': 59.77350205966172, 'AUD': 1.4584152674872604, 'AWG': 1.8004941523077864, 'AZN': 1.6912621731854236, 'BAM': 1.749842250705298, 'BBD': 2.0199733891996363, 'BDT': 84.93312021031632, 'BGN': 1.7563460356932523, 'BHD': 0.37707348921971523, 'BIF': 1886.5177618069788, 'BMD': 1.0002745290599113, 'BND': 1.3499414964579421, 'BOB': 6.918153712983247, 'BRL': 4.0688167018570125, 'BSD': 1.0004575792986874, 'BTN': 71.73343750836963, 'BWP': 10.677038352834357, 'BYN': 2.110908346636491, 'BYR': 19605.380769574513, 'BZD': 2.0165194412507645, 'CAD': 1.299946775220984, 'CDF': 1686.4630150386697, 'CHF': 0.9673154833273728, 'CLF': 0.02792766485135277, 'CLP': 770.6164885576551, 'CNH': 6.945371, 'CNY': 6.947308714681726, 'COP': 3276.8993572002123, 'CRC': 569.3166310640532, 'CUC': 1.0002745290599113, 'CVE': 99.32732875431863, 'CZK': 22.625412628535745, 'DJF': 177.76916240692557, 'DKK': 6.698141329767433, 'DOP': 53.21755775639697, 'DZD': 119.33488190159457, 'EEK': 14.613691000000001, 'EGP': 16.080316302537398, 'ERN': 15.004452027591134, 'ETB': 32.20938098424894, 'EUR': 0.896326, 'FJD': 2.164697109162111, 'FKP': 0.8131031591822174, 'GBP': 0.762711328957239, 'GEL': 2.8658225356396967, 'GGP': 0.7628673717837685, 'GHS': 5.699042123279191, 'GIP': 0.8131031591822174, 'GMD': 51.21183227758882, 'GNF': 9427.587198324662, 'GTQ': 7.713766071750274, 'GYD': 209.04944439650768, 'HKD': 7.776354249308136, 'HNL': 24.756867614273208, 'HRK': 6.674635878609047, 'HTG': 98.08904090161771, 'HUF': 297.3012144225909, 'IDR': 13900.314993081356, 'ILS': 3.469092105213849, 'IMP': 0.7628673717837685, 'INR': 72.21478161504736, 'IQD': 1190.8268268458023, 'ISK': 123.07431920405138, 'JEP': 0.7628673717837685, 'JMD': 132.3407113998064, 'JOD': 0.7092126460449938, 'JPY': 107.8956603647554, 'KES': 101.17772060123052, 'KGS': 69.5307839819279, 'KHR': 4079.1193984703673, 'KMF': 442.37096235375526, 'KRW': 1177.7332192565445, 'KWD': 0.30330324270154546, 'KYD': 0.8336998120100901, 'KZT': 380.9815508017258, 'LAK': 8887.439008647332, 'LBP': 1512.6430485032156, 'LKR': 181.35640393868496, 'LRD': 188.6518682059505, 'LSL': 14.314150571792709, 'LTL': 2.953550612936363, 'LVL': 0.6050560598830493, 'LYD': 1.4053837127801445, 'MAD': 9.595132419732504, 'MDL': 17.105027538342476, 'MGA': 3657.0037862726554, 'MKD': 55.16732687777458, 'MMK': 1464.657382659014, 'MNT': 2744.023906553487, 'MOP': 8.0099973735314, 'MRO': 357.0978408288115, 'MTL': 0.683738, 'MUR': 36.461783071797335, 'MVR': 15.454010410559542, 'MWK': 737.7037435325323, 'MXN': 18.980349227345595, 'MYR': 4.113027835766913, 'MZN': 61.721944817013984, 'NAD': 14.313956518533997, 'NGN': 362.5900421838724, 'NIO': 34.15949720088856, 'NOK': 8.868298937583713, 'NPR': 114.77364105210455, 'NZD': 1.5090091531671688, 'OMR': 0.3851016925899504, 'PAB': 1.0005025916525214, 'PEN': 3.3224158493705875, 'PGK': 3.3811779768547883, 'PHP': 51.07951996398319, 'PKR': 154.94895431605534, 'PLN': 3.8072949262342712, 'PYG': 6508.13457970909, 'QAR': 3.641964550698626, 'RON': 4.282976478803254, 'RSD': 105.34862032015582, 'RUB': 61.982912440547686, 'RWF': 937.2572337291293, 'SAR': 3.7523568482747427, 'SBD': 8.304607230300855, 'SCR': 13.70395010000694, 'SEK': 9.475440569859902, 'SGD': 1.351926041123548, 'SHP': 1.321263625709746, 'SLL': 9772.682035883816, 'SOS': 581.15988849005, 'SRD': 7.460010427571206, 'SSP': 130.26, 'STD': 21566.7090634092, 'SVC': 8.753548443884512, 'SZL': 14.31392250919983, 'THB': 30.314785005345783, 'TJS': 9.701998749594154, 'TMT': 3.500960851709689, 'TND': 2.808747871286066, 'TOP': 2.2898314527475305, 'TRY': 5.984844562820266, 'TTD': 6.764737607363193, 'TWD': 30.104234218899993, 'TZS': 2300.9333937164747, 'UAH': 23.739794474772076, 'UGX': 3711.4901342532107, 'UYU': 37.31217146404991, 'UZS': 9514.611447453086, 'VEF': 9.990237857887807, 'VES': 33474.855, 'VND': 23178.861524640946, 'VUV': 115.76574033743128, 'WST': 2.632486495696775, 'XAF': 0.0017038893656203945, 'XAG': 18.632476866752675, 'XAU': 1602.1242728936197, 'XCD': 0.36991935256909975, 'XDR': 1.38267932573888, 'XOF': 0.0017031096868710533, 'XPD': 2040.4415515517558, 'XPF': 0.009304104428058657, 'XPT': 975.20064753323, 'XRH': 0.00016467387536985443, 'YER': 250.4186513290065, 'ZAR': 14.405563660454385, 'ZMK': 9003.663194806595, 'ZMW': 14.165824863251203, 'ZWL': 322.08839935756396}, 'unit': 'per ounce'}

In [9]:
metalsApiRates

{'AED': 3.674209400417414,
 'AFN': 77.51792608274512,
 'ALL': 109.67996707435876,
 'AMD': 478.94900933460895,
 'ANG': 1.6857266539415903,
 'AOA': 483.8212825480905,
 'ARS': 59.77350205966172,
 'AUD': 1.4584152674872604,
 'AWG': 1.8004941523077864,
 'AZN': 1.6912621731854236,
 'BAM': 1.749842250705298,
 'BBD': 2.0199733891996363,
 'BDT': 84.93312021031632,
 'BGN': 1.7563460356932523,
 'BHD': 0.37707348921971523,
 'BIF': 1886.5177618069788,
 'BMD': 1.0002745290599113,
 'BND': 1.3499414964579421,
 'BOB': 6.918153712983247,
 'BRL': 4.0688167018570125,
 'BSD': 1.0004575792986874,
 'BTN': 71.73343750836963,
 'BWP': 10.677038352834357,
 'BYN': 2.110908346636491,
 'BYR': 19605.380769574513,
 'BZD': 2.0165194412507645,
 'CAD': 1.299946775220984,
 'CDF': 1686.4630150386697,
 'CHF': 0.9673154833273728,
 'CLF': 0.02792766485135277,
 'CLP': 770.6164885576551,
 'CNH': 6.945371,
 'CNY': 6.947308714681726,
 'COP': 3276.8993572002123,
 'CRC': 569.3166310640532,
 'CUC': 1.0002745290599113,
 'CVE': 99.32732875431863,
 'CZK': 22.625412628535745,
 'DJF': 177.76916240692557,
 'DKK': 6.698141329767433,
 'DOP': 53.21755775639697,
 'DZD': 119.33488190159457,
 'EEK': 14.613691000000001,
 'EGP': 16.080316302537398,
 'ERN': 15.004452027591134,
 'ETB': 32.20938098424894,
 'EUR': 0.896326,
 'FJD': 2.164697109162111,
 'FKP': 0.8131031591822174,
 'GBP': 0.762711328957239,
 'GEL': 2.8658225356396967,
 'GGP': 0.7628673717837685,
 'GHS': 5.699042123279191,
 'GIP': 0.8131031591822174,
 'GMD': 51.21183227758882,
 'GNF': 9427.587198324662,
 'GTQ': 7.713766071750274,
 'GYD': 209.04944439650768,
 'HKD': 7.776354249308136,
 'HNL': 24.756867614273208,
 'HRK': 6.674635878609047,
 'HTG': 98.08904090161771,
 'HUF': 297.3012144225909,
 'IDR': 13900.314993081356,
 'ILS': 3.469092105213849,
 'IMP': 0.7628673717837685,
 'INR': 72.21478161504736,
 'IQD': 1190.8268268458023,
 'ISK': 123.07431920405138,
 'JEP': 0.7628673717837685,
 'JMD': 132.3407113998064,
 'JOD': 0.7092126460449938,
 'JPY': 107.8956603647554,
 'KES': 101.17772060123052,
 'KGS': 69.5307839819279,
 'KHR': 4079.1193984703673,
 'KMF': 442.37096235375526,
 'KRW': 1177.7332192565445,
 'KWD': 0.30330324270154546,
 'KYD': 0.8336998120100901,
 'KZT': 380.9815508017258,
 'LAK': 8887.439008647332,
 'LBP': 1512.6430485032156,
 'LKR': 181.35640393868496,
 'LRD': 188.6518682059505,
 'LSL': 14.314150571792709,
 'LTL': 2.953550612936363,
 'LVL': 0.6050560598830493,
 'LYD': 1.4053837127801445,
 'MAD': 9.595132419732504,
 'MDL': 17.105027538342476,
 'MGA': 3657.0037862726554,
 'MKD': 55.16732687777458,
 'MMK': 1464.657382659014,
 'MNT': 2744.023906553487,
 'MOP': 8.0099973735314,
 'MRO': 357.0978408288115,
 'MTL': 0.683738,
 'MUR': 36.461783071797335,
 'MVR': 15.454010410559542,
 'MWK': 737.7037435325323,
 'MXN': 18.980349227345595,
 'MYR': 4.113027835766913,
 'MZN': 61.721944817013984,
 'NAD': 14.313956518533997,
 'NGN': 362.5900421838724,
 'NIO': 34.15949720088856,
 'NOK': 8.868298937583713,
 'NPR': 114.77364105210455,
 'NZD': 1.5090091531671688,
 'OMR': 0.3851016925899504,
 'PAB': 1.0005025916525214,
 'PEN': 3.3224158493705875,
 'PGK': 3.3811779768547883,
 'PHP': 51.07951996398319,
 'PKR': 154.94895431605534,
 'PLN': 3.8072949262342712,
 'PYG': 6508.13457970909,
 'QAR': 3.641964550698626,
 'RON': 4.282976478803254,
 'RSD': 105.34862032015582,
 'RUB': 61.982912440547686,
 'RWF': 937.2572337291293,
 'SAR': 3.7523568482747427,
 'SBD': 8.304607230300855,
 'SCR': 13.70395010000694,
 'SEK': 9.475440569859902,
 'SGD': 1.351926041123548,
 'SHP': 1.321263625709746,
 'SLL': 9772.682035883816,
 'SOS': 581.15988849005,
 'SRD': 7.460010427571206,
 'SSP': 130.26,
 'STD': 21566.7090634092,
 'SVC': 8.753548443884512,
 'SZL': 14.31392250919983,
 'THB': 30.314785005345783,
 'TJS': 9.701998749594154,
 'TMT': 3.500960851709689,
 'TND': 2.808747871286066,
 'TOP': 2.2898314527475305,
 'TRY': 5.984844562820266,
 'TTD': 6.764737607363193,
 'TWD': 30.104234218899993,
 'TZS': 2300.9333937164747,
 'UAH': 23.739794474772076,
 'UGX': 3711.4901342532107,
 'UYU': 37.31217146404991,
 'UZS': 9514.611447453086,
 'VEF': 9.990237857887807,
 'VES': 33474.855,
 'VND': 23178.861524640946,
 'VUV': 115.76574033743128,
 'WST': 2.632486495696775,
 'XAF': 0.0017038893656203945,
 'XAG': 18.632476866752675,
 'XAU': 1602.1242728936197,
 'XCD': 0.36991935256909975,
 'XDR': 1.38267932573888,
 'XOF': 0.0017031096868710533,
 'XPD': 2040.4415515517558,
 'XPF': 0.009304104428058657,
 'XPT': 975.20064753323,
 'XRH': 0.00016467387536985443,
 'YER': 250.4186513290065,
 'ZAR': 14.405563660454385,
 'ZMK': 9003.663194806595,
 'ZMW': 14.165824863251203,
 'ZWL': 322.08839935756396}

In [10]:
metalsApiRates

{'AED': 3.674209400417414,
 'AFN': 77.51792608274512,
 'ALL': 109.67996707435876,
 'AMD': 478.94900933460895,
 'ANG': 1.6857266539415903,
 'AOA': 483.8212825480905,
 'ARS': 59.77350205966172,
 'AUD': 1.4584152674872604,
 'AWG': 1.8004941523077864,
 'AZN': 1.6912621731854236,
 'BAM': 1.749842250705298,
 'BBD': 2.0199733891996363,
 'BDT': 84.93312021031632,
 'BGN': 1.7563460356932523,
 'BHD': 0.37707348921971523,
 'BIF': 1886.5177618069788,
 'BMD': 1.0002745290599113,
 'BND': 1.3499414964579421,
 'BOB': 6.918153712983247,
 'BRL': 4.0688167018570125,
 'BSD': 1.0004575792986874,
 'BTN': 71.73343750836963,
 'BWP': 10.677038352834357,
 'BYN': 2.110908346636491,
 'BYR': 19605.380769574513,
 'BZD': 2.0165194412507645,
 'CAD': 1.299946775220984,
 'CDF': 1686.4630150386697,
 'CHF': 0.9673154833273728,
 'CLF': 0.02792766485135277,
 'CLP': 770.6164885576551,
 'CNH': 6.945371,
 'CNY': 6.947308714681726,
 'COP': 3276.8993572002123,
 'CRC': 569.3166310640532,
 'CUC': 1.0002745290599113,
 'CVE': 99.32732875431863,
 'CZK': 22.625412628535745,
 'DJF': 177.76916240692557,
 'DKK': 6.698141329767433,
 'DOP': 53.21755775639697,
 'DZD': 119.33488190159457,
 'EEK': 14.613691000000001,
 'EGP': 16.080316302537398,
 'ERN': 15.004452027591134,
 'ETB': 32.20938098424894,
 'EUR': 0.896326,
 'FJD': 2.164697109162111,
 'FKP': 0.8131031591822174,
 'GBP': 0.762711328957239,
 'GEL': 2.8658225356396967,
 'GGP': 0.7628673717837685,
 'GHS': 5.699042123279191,
 'GIP': 0.8131031591822174,
 'GMD': 51.21183227758882,
 'GNF': 9427.587198324662,
 'GTQ': 7.713766071750274,
 'GYD': 209.04944439650768,
 'HKD': 7.776354249308136,
 'HNL': 24.756867614273208,
 'HRK': 6.674635878609047,
 'HTG': 98.08904090161771,
 'HUF': 297.3012144225909,
 'IDR': 13900.314993081356,
 'ILS': 3.469092105213849,
 'IMP': 0.7628673717837685,
 'INR': 72.21478161504736,
 'IQD': 1190.8268268458023,
 'ISK': 123.07431920405138,
 'JEP': 0.7628673717837685,
 'JMD': 132.3407113998064,
 'JOD': 0.7092126460449938,
 'JPY': 107.8956603647554,
 'KES': 101.17772060123052,
 'KGS': 69.5307839819279,
 'KHR': 4079.1193984703673,
 'KMF': 442.37096235375526,
 'KRW': 1177.7332192565445,
 'KWD': 0.30330324270154546,
 'KYD': 0.8336998120100901,
 'KZT': 380.9815508017258,
 'LAK': 8887.439008647332,
 'LBP': 1512.6430485032156,
 'LKR': 181.35640393868496,
 'LRD': 188.6518682059505,
 'LSL': 14.314150571792709,
 'LTL': 2.953550612936363,
 'LVL': 0.6050560598830493,
 'LYD': 1.4053837127801445,
 'MAD': 9.595132419732504,
 'MDL': 17.105027538342476,
 'MGA': 3657.0037862726554,
 'MKD': 55.16732687777458,
 'MMK': 1464.657382659014,
 'MNT': 2744.023906553487,
 'MOP': 8.0099973735314,
 'MRO': 357.0978408288115,
 'MTL': 0.683738,
 'MUR': 36.461783071797335,
 'MVR': 15.454010410559542,
 'MWK': 737.7037435325323,
 'MXN': 18.980349227345595,
 'MYR': 4.113027835766913,
 'MZN': 61.721944817013984,
 'NAD': 14.313956518533997,
 'NGN': 362.5900421838724,
 'NIO': 34.15949720088856,
 'NOK': 8.868298937583713,
 'NPR': 114.77364105210455,
 'NZD': 1.5090091531671688,
 'OMR': 0.3851016925899504,
 'PAB': 1.0005025916525214,
 'PEN': 3.3224158493705875,
 'PGK': 3.3811779768547883,
 'PHP': 51.07951996398319,
 'PKR': 154.94895431605534,
 'PLN': 3.8072949262342712,
 'PYG': 6508.13457970909,
 'QAR': 3.641964550698626,
 'RON': 4.282976478803254,
 'RSD': 105.34862032015582,
 'RUB': 61.982912440547686,
 'RWF': 937.2572337291293,
 'SAR': 3.7523568482747427,
 'SBD': 8.304607230300855,
 'SCR': 13.70395010000694,
 'SEK': 9.475440569859902,
 'SGD': 1.351926041123548,
 'SHP': 1.321263625709746,
 'SLL': 9772.682035883816,
 'SOS': 581.15988849005,
 'SRD': 7.460010427571206,
 'SSP': 130.26,
 'STD': 21566.7090634092,
 'SVC': 8.753548443884512,
 'SZL': 14.31392250919983,
 'THB': 30.314785005345783,
 'TJS': 9.701998749594154,
 'TMT': 3.500960851709689,
 'TND': 2.808747871286066,
 'TOP': 2.2898314527475305,
 'TRY': 5.984844562820266,
 'TTD': 6.764737607363193,
 'TWD': 30.104234218899993,
 'TZS': 2300.9333937164747,
 'UAH': 23.739794474772076,
 'UGX': 3711.4901342532107,
 'UYU': 37.31217146404991,
 'UZS': 9514.611447453086,
 'VEF': 9.990237857887807,
 'VES': 33474.855,
 'VND': 23178.861524640946,
 'VUV': 115.76574033743128,
 'WST': 2.632486495696775,
 'XAF': 0.0017038893656203945,
 'XAG': 18.632476866752675,
 'XAU': 1602.1242728936197,
 'XCD': 0.36991935256909975,
 'XDR': 1.38267932573888,
 'XOF': 0.0017031096868710533,
 'XPD': 2040.4415515517558,
 'XPF': 0.009304104428058657,
 'XPT': 975.20064753323,
 'XRH': 0.00016467387536985443,
 'YER': 250.4186513290065,
 'ZAR': 14.405563660454385,
 'ZMK': 9003.663194806595,
 'ZMW': 14.165824863251203,
 'ZWL': 322.08839935756396}

In [11]:
df1 = pd.Series(metalsApiRates).to_frame("Rates")

In [12]:
df1

           Rates
AED     3.674209
AFN    77.517926
ALL   109.679967
AMD   478.949009
ANG     1.685727
..           ...
YER   250.418651
ZAR    14.405564
ZMK  9003.663195
ZMW    14.165825
ZWL   322.088399

[169 rows x 1 columns]

In [13]:
df = pd.DataFrame(metalsApiRes)

In [14]:
df

     success   timestamp        date base        rates       unit
AED     True  1578448320  2020-01-08  USD     3.674209  per ounce
AFN     True  1578448320  2020-01-08  USD    77.517926  per ounce
ALL     True  1578448320  2020-01-08  USD   109.679967  per ounce
AMD     True  1578448320  2020-01-08  USD   478.949009  per ounce
ANG     True  1578448320  2020-01-08  USD     1.685727  per ounce
..       ...         ...         ...  ...          ...        ...
YER     True  1578448320  2020-01-08  USD   250.418651  per ounce
ZAR     True  1578448320  2020-01-08  USD    14.405564  per ounce
ZMK     True  1578448320  2020-01-08  USD  9003.663195  per ounce
ZMW     True  1578448320  2020-01-08  USD    14.165825  per ounce
ZWL     True  1578448320  2020-01-08  USD   322.088399  per ounce

[169 rows x 6 columns]

In [15]:
def convertTime(t):
    return time.strftime('%d/%m/%Y %H:%M:%S', time.gmtime(t))

In [16]:
print(convertTime(1578292380))

06/01/2020 06:33:00

In [17]:
df["timestamp"].map(convertTime)

AED    08/01/2020 01:52:00
AFN    08/01/2020 01:52:00
ALL    08/01/2020 01:52:00
AMD    08/01/2020 01:52:00
ANG    08/01/2020 01:52:00
              ...
YER    08/01/2020 01:52:00
ZAR    08/01/2020 01:52:00
ZMK    08/01/2020 01:52:00
ZMW    08/01/2020 01:52:00
ZWL    08/01/2020 01:52:00
Name: timestamp, Length: 169, dtype: object

In [18]:
df["timestamp"] = df["timestamp"].map(convertTime)

In [19]:
df

     success            timestamp        date base        rates       unit
AED     True  08/01/2020 01:52:00  2020-01-08  USD     3.674209  per ounce
AFN     True  08/01/2020 01:52:00  2020-01-08  USD    77.517926  per ounce
ALL     True  08/01/2020 01:52:00  2020-01-08  USD   109.679967  per ounce
AMD     True  08/01/2020 01:52:00  2020-01-08  USD   478.949009  per ounce
ANG     True  08/01/2020 01:52:00  2020-01-08  USD     1.685727  per ounce
..       ...                  ...         ...  ...          ...        ...
YER     True  08/01/2020 01:52:00  2020-01-08  USD   250.418651  per ounce
ZAR     True  08/01/2020 01:52:00  2020-01-08  USD    14.405564  per ounce
ZMK     True  08/01/2020 01:52:00  2020-01-08  USD  9003.663195  per ounce
ZMW     True  08/01/2020 01:52:00  2020-01-08  USD    14.165825  per ounce
ZWL     True  08/01/2020 01:52:00  2020-01-08  USD   322.088399  per ounce

[169 rows x 6 columns]

In [20]:
df.reset_index()

,index,success,timestamp,date,base,rates,unit
0,AED,True,08/01/2020 01:52:00,2020-01-08,USD,3.674209,per ounce
1,AFN,True,08/01/2020 01:52:00,2020-01-08,USD,77.517926,per ounce
2,ALL,True,08/01/2020 01:52:00,2020-01-08,USD,109.679967,per ounce
3,AMD,True,08/01/2020 01:52:00,2020-01-08,USD,478.949009,per ounce
4,ANG,True,08/01/2020 01:52:00,2020-01-08,USD,1.685727,per ounce
...,...,...,...,...,...,...,...
164,YER,True,08/01/2020 01:52:00,2020-01-08,USD,250.418651,per ounce
165,ZAR,True,08/01/2020 01:52:00,2020-01-08,USD,14.405564,per ounce
166,ZMK,True,08/01/2020 01:52:00,2020-01-08,USD,9003.663195,per ounce
167,ZMW,True,08/01/2020 01:52:00,2020-01-08,USD,14.165825,per ounce
168,ZWL,True,08/01/2020 01:52:00,2020-01-08,USD,322.088399,per ounce

In [21]:
df

     success            timestamp        date base        rates       unit
AED     True  08/01/2020 01:52:00  2020-01-08  USD     3.674209  per ounce
AFN     True  08/01/2020 01:52:00  2020-01-08  USD    77.517926  per ounce
ALL     True  08/01/2020 01:52:00  2020-01-08  USD   109.679967  per ounce
AMD     True  08/01/2020 01:52:00  2020-01-08  USD   478.949009  per ounce
ANG     True  08/01/2020 01:52:00  2020-01-08  USD     1.685727  per ounce
..       ...                  ...         ...  ...          ...        ...
YER     True  08/01/2020 01:52:00  2020-01-08  USD   250.418651  per ounce
ZAR     True  08/01/2020 01:52:00  2020-01-08  USD    14.405564  per ounce
ZMK     True  08/01/2020 01:52:00  2020-01-08  USD  9003.663195  per ounce
ZMW     True  08/01/2020 01:52:00  2020-01-08  USD    14.165825  per ounce
ZWL     True  08/01/2020 01:52:00  2020-01-08  USD   322.088399  per ounce

[169 rows x 6 columns]

In [22]:
df = df.reset_index()

In [23]:
df

,index,success,timestamp,date,base,rates,unit
0,AED,True,08/01/2020 01:52:00,2020-01-08,USD,3.674209,per ounce
1,AFN,True,08/01/2020 01:52:00,2020-01-08,USD,77.517926,per ounce
2,ALL,True,08/01/2020 01:52:00,2020-01-08,USD,109.679967,per ounce
3,AMD,True,08/01/2020 01:52:00,2020-01-08,USD,478.949009,per ounce
4,ANG,True,08/01/2020 01:52:00,2020-01-08,USD,1.685727,per ounce
...,...,...,...,...,...,...,...
164,YER,True,08/01/2020 01:52:00,2020-01-08,USD,250.418651,per ounce
165,ZAR,True,08/01/2020 01:52:00,2020-01-08,USD,14.405564,per ounce
166,ZMK,True,08/01/2020 01:52:00,2020-01-08,USD,9003.663195,per ounce
167,ZMW,True,08/01/2020 01:52:00,2020-01-08,USD,14.165825,per ounce
168,ZWL,True,08/01/2020 01:52:00,2020-01-08,USD,322.088399,per ounce

In [24]:
df = df.rename(columns={'index':'currency'})

In [25]:
df

,currency,success,timestamp,date,base,rates,unit
0,AED,True,08/01/2020 01:52:00,2020-01-08,USD,3.674209,per ounce
1,AFN,True,08/01/2020 01:52:00,2020-01-08,USD,77.517926,per ounce
2,ALL,True,08/01/2020 01:52:00,2020-01-08,USD,109.679967,per ounce
3,AMD,True,08/01/2020 01:52:00,2020-01-08,USD,478.949009,per ounce
4,ANG,True,08/01/2020 01:52:00,2020-01-08,USD,1.685727,per ounce
...,...,...,...,...,...,...,...
164,YER,True,08/01/2020 01:52:00,2020-01-08,USD,250.418651,per ounce
165,ZAR,True,08/01/2020 01:52:00,2020-01-08,USD,14.405564,per ounce
166,ZMK,True,08/01/2020 01:52:00,2020-01-08,USD,9003.663195,per ounce
167,ZMW,True,08/01/2020 01:52:00,2020-01-08,USD,14.165825,per ounce
168,ZWL,True,08/01/2020 01:52:00,2020-01-08,USD,322.088399,per ounce

In [26]:
df[df["currency"] == "XAU"]

,currency,success,timestamp,date,base,rates,unit
156,XAU,True,08/01/2020 01:52:00,2020-01-08,USD,1602.124273,per ounce

In [27]:
dc = pd.read_csv("XAUUSD_Ticks_30.12.2019-30.12.2019.csv")

In [28]:
dc

,Local time,Ask,Bid,AskVolume,BidVolume
0,30.12.2019 07:00:00.172 GMT+0800,1512.082,1511.458,220.0,220.0
1,30.12.2019 07:00:00.273 GMT+0800,1511.902,1511.398,370.0,300.0
2,30.12.2019 07:00:00.388 GMT+0800,1511.902,1511.388,370.0,300.0
3,30.12.2019 07:00:00.510 GMT+0800,1511.902,1511.378,370.0,300.0
4,30.12.2019 07:00:00.575 GMT+0800,1511.902,1511.288,370.0,300.0
...,...,...,...,...,...
83293,30.12.2019 23:59:58.292 GMT+0800,1514.052,1513.788,370.0,300.0
83294,30.12.2019 23:59:58.443 GMT+0800,1514.052,1513.785,370.0,370.0
83295,30.12.2019 23:59:59.176 GMT+0800,1514.052,1513.765,370.0,450.0
83296,30.12.2019 23:59:59.601 GMT+0800,1513.992,1513.765,300.0,450.0
83297,30.12.2019 23:59:59.752 GMT+0800,1514.052,1513.765,370.0,450.0

In [29]:
df

,currency,success,timestamp,date,base,rates,unit
0,AED,True,08/01/2020 01:52:00,2020-01-08,USD,3.674209,per ounce
1,AFN,True,08/01/2020 01:52:00,2020-01-08,USD,77.517926,per ounce
2,ALL,True,08/01/2020 01:52:00,2020-01-08,USD,109.679967,per ounce
3,AMD,True,08/01/2020 01:52:00,2020-01-08,USD,478.949009,per ounce
4,ANG,True,08/01/2020 01:52:00,2020-01-08,USD,1.685727,per ounce
...,...,...,...,...,...,...,...
164,YER,True,08/01/2020 01:52:00,2020-01-08,USD,250.418651,per ounce
165,ZAR,True,08/01/2020 01:52:00,2020-01-08,USD,14.405564,per ounce
166,ZMK,True,08/01/2020 01:52:00,2020-01-08,USD,9003.663195,per ounce
167,ZMW,True,08/01/2020 01:52:00,2020-01-08,USD,14.165825,per ounce
168,ZWL,True,08/01/2020 01:52:00,2020-01-08,USD,322.088399,per ounce

In [30]:
MetalsApiGoldPrice = df[df["currency"] == "XAU"]

In [31]:
MetalsApiGoldPrice

,currency,success,timestamp,date,base,rates,unit
156,XAU,True,08/01/2020 01:52:00,2020-01-08,USD,1602.124273,per ounce

In [52]:
#DCurl stores DukasCopy URL
DCurl = "https://www.dukascopy.com/swiss/english/home/?utm_source=freeserv"
browser = webdriver.Chrome()

browser.get(DCurl)

# Putting to sleep to ensure webpage is fully rendered
time.sleep(5)

DChtml = browser.page_source
soup = BeautifulSoup(DChtml, "lxml")

# Stores the iframe section where the table is
iframe = soup.find_all("iframe")[1]

# Just for testing/visual purposes
print(iframe)
    
# Trying to open the URL but it doesn't work - Access to the Page Denied
response = urllib.request.urlopen(iframe.attrs['src'])
iframe_soup = BeautifulSoup(response)

<iframe border="0" frameborder="0" height="464" marginheight="0" marginwidth="0" scrolling="no" src="https://freeserv.dukascopy.com/2.0/?path=marketwatch/index&amp;showHeader=true&amp;live=true&amp;columns=3&amp;pips=0&amp;availableInstruments=l%3AEUR/USD%2CGBP/USD%2CUSD/JPY%2CXAU/USD%2CE_Brent%2CE_Light%2CE_D%26J-Ind%2CE_DAAX%2CE_N225Jap&amp;mode=2&amp;background=%236B6B6B&amp;cellTopBorderColor=%237D9EC7&amp;instrumentSelectorBackground=%23454545&amp;instrumentFontColor=%23FFFFFF&amp;width=700&amp;height=464&amp;adv=popup" width="700"></iframe>

HTTPError: HTTP Error 403: Forbidden

In [56]:
driver = webdriver.PhantomJS()
driver.get("https://www.dukascopy.com/swiss/english/marketwatch/main/")

time.sleep(5)

# This will get the initial html - before javascript
html1 = driver.page_source

# This will get the html after on-load javascript
html2 = driver.execute_script()

TypeError: execute_script() missing 1 required positional argument: 'script'

In [149]:
# DCurl stores DukasCopy URL
DCurl = "https://www.dukascopy.com/swiss/english/home/?utm_source=freeserv"
browser = webdriver.Chrome()

browser.get(DCurl)
DChtml = browser.page_source
soup = BeautifulSoup(DChtml, "lxml")

# Finding the exact table with all the required data
data = soup.find_all("table", {"id": "list"})

time = getDukasTime(soup)

# Creating dataframe with the table 
DCDataFrame = pd.read_html(str(data))[0]

#DCDataFrame = DCDataFrame.loc[DCDataFrame.index == "XAU/USD"]

DCDataFrame["timestamp"] = getDukasTime(soup)
DCDataFrame = DCDataFrame.set_index("timestamp")

DCDataFrame = DCDataFrame[DCDataFrame["Live"] == "XAU/USD"]


print(DCDataFrame)

browser.quit()

                        Live      Bid      Ask  Spread
timestamp
2020-01-08 10:31:39  XAU/USD  1582.61  1582.89    27.7

In [144]:
def getDukasTime(soup):
    tdata = soup.find_all("span", {"id": "timeUpdate"})
    dtxt = tdata[0].text
    
    date_time_obj = datetime.datetime.strptime(dtxt, ' %a, %d %b %Y %H:%M:%S GMT')
    
    return date_time_obj
    
getDukasTime(soup)

datetime.datetime(2020, 1, 8, 10, 28, 52)